.bg-login {
	background-image: url("../image/gambarkopi.jpg");
	background-size: cover;
}
.judul {
	font-size: 90px;
}
.putih {
	color: white;
}
.coklat {
	color: rgb(164, 68, 0);
}
.produk-content {
	background-image: url("../image/gambarkopi.jpg");
	background-size: cover;
	height: 500px;
}
.bg-card {
	background-color: rgba(255, 255, 255, 0.527);
}
.navbar-dark {
	background-color: rgba(104, 104, 104, 0.344);
}
.navbar {
	background-color: rgba(255, 255, 255, 0.527);
}
.bg-register {
	background-image: url("../image/gambarkopi.jpg");
	background-size: cover;
}
.bg-admin {
	background-image: url("../image/gambarkopi.jpg");
	background-size: cover;
}
.card-admin {
	background-color: rgba(255, 255, 255, 0.527);
}
