@import url("https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "poppins", sans-serif;
}
body {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.slide-container {
	max-width: 1250px;
	width: 100%;
	background-color: #fff;
	padding: 40px 0;
}
.slide-content {
	margin: 0 40px;
	background-color: #fff;
	overflow: hidden;
}
.card {
	width: 200px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	background-image: url(../image/kopi.jpeg);
}
.image-content,
.card-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 14px;
}
.card-content {
	border-radius: 0 25px 25px 25px;
	-webkit-border-radius: 0 25px 25px 25px;
	-moz-border-radius: 0 25px 25px 25px;
	-ms-border-radius: 0 25px 25px 25px;
	-o-border-radius: 0 25px 25px 25px;
	background-color: #fff;
}
.image-content {
	position: relative;
	row-gap: 5px;
	padding: 25px 0;
}
.overlay {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	border-radius: 25px 25px 0 25px;
	-webkit-border-radius: 25px 25px 0 25px;
	-moz-border-radius: 25px 25px 0 25px;
	-ms-border-radius: 25px 25px 0 25px;
	-o-border-radius: 25px 25px 0 25px;
}
.overlay::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 40px;
	width: 40px;
	background-image: url(../image/kopi.jpeg);
	border-radius: 0 0 0 25px;
	-webkit-border-radius: 0 0 0 25px;
	-moz-border-radius: 0 0 0 25px;
	-ms-border-radius: 0 0 0 25px;
	-o-border-radius: 0 0 0 25px;
}
.overlay::before {
	content: "";
	position: absolute;
	left: 0;
	top: 161px;
	height: 40px;
	width: 40px;
	background: #fff;
}
.card-image {
	position: relative;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	background-color: aliceblue;
	padding: 3px;
}
.card-image .card-img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border: 4px solid #4070f4;
}
.name {
	font-size: 18px;
	font-weight: 500;
	color: #333;
}
.description {
	font-size: 14px;
	color: #707070;
	text-align: center;
}
.button {
	border: none;
	font-size: 16px;
	color: #fff;
	padding: 8px 16px;
	background-color: #4070f4;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	margin: 14px;
	cursor: pointer;
	transition: all 0, 3s ease;
	-webkit-transition: all 0, 3s ease;
	-moz-transition: all 0, 3s ease;
	-ms-transition: all 0, 3s ease;
	-o-transition: all 0, 3s ease;
}
.button:hover {
	background: #265df2;
}
.swipper-navBtn {
	color: #00206c;
	transition: color 0.3s ease;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-ms-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
}
.swipper-navBtn:hover {
	color: #0044ff;
}

.swipper-navBtn::before,
.swipper-navBtn::after {
	font-size: 40px;
}
.swipper-button-next {
	right: 0;
}
.swipper-button-prev {
	left: 0;
}
.swiper-pagination-bullet {
	background-color: #6e93f7;
	opacity: 1;
}
.swiper-pagination-bullet-active {
	background-color: #4070f4;
}

@media only screen and (max-width: 768px) {
	.slide-content {
		margin: 0 10px;
	}
	.swipper-navBtn {
		display: none;
	}
}
